@import "tailwindcss";

@theme {
  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
  --color-dark-700: #334155;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;

  --animate-spin-slow: spin 3s linear infinite;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-xl border border-white/10;
  }
}